* {
    font-family: Arial;
    letter-spacing:0.5px;
    font-size: 14px;
}

#output {
    margin-left: 5px;
    margin-top: 2px;
    /* width: 90vw;
    height: 90vh; */
    background-color: rgb(232, 232, 232);
    border: 1px solid black;
    
    overflow: auto;
    flex-direction: column-reverse;
    display: flex;
    word-wrap: break-word;
}

#main {
    margin-left: 5px;
    margin-top: 2px;
}

#send, #emoji {
    margin-left: -5px;
}

emoji-picker {
    display: none;
}