* {
    font-family: consolas;
    
    font-size: 14px;
}

#output {
    line-height: 1.65;
    width: 240px;
    height: 500px;
    background-color: rgb(232, 232, 232);
    border: 1px solid black;
    
    overflow: auto;
    flex-direction: column-reverse;
    display: flex;
    word-wrap: break-word;
}